{# app/Resources/views/Usuario/default.html.twig #}

{% extends 'base.html.twig' %}
{% trans_default_domain 'AppBundle' %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block title %}Usuarios del sistema{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">   
       		<div class="col-xs-12">
       			<div class="col-xs-12 col-sm-12">
    				<p style="padding:10px;"></p>
    			</div>
				<ol class="breadcrumb">
		        	<li><a href="{{ path('index') }}">inicio</a></li>
		            <li>usuario</li>
		       	</ol>		       	       	
		    </div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12">
				<h2>Usuarios</h2>			
				<hr>	
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#sectionA">Clientes</a></li>
					<li><a data-toggle="tab" href="#sectionB">Help Desk</a></li>
					<li><a data-toggle="tab" href="#sectionC">Tecnicos</a></li>
					<li><a data-toggle="tab" href="#sectionD">Administrador</a></li>					
				</ul>
				<div class="tab-content">
        			<div id="sectionA" class="tab-pane fade in active">
        				<h2>Cliente</h2>
        				<a href="{{ path('newCliente') }}"><button type="button" class="btn btn-default">Nuevo</button></a>	
						<hr>	
						<table class="table table-striped">
							<tbody>
								<thead>
									<tr>
										<td>Id</td>
										<td>Nombre</td>
										<td>Apellidos</td>
										<td>Teléfono</td>
										<td>Email</td>
										<td></td>
										{% if is_granted('ROLE_ADMIN') %}
											<td>{{ 'global.edit'|trans }}</td>
											<td>{{ 'global.delete'|trans }}</td>
										{% endif %}
									</tr>
								</thead>
									{% for usuario in usuarios%}
										<tr>
											<td><a href="{{
												path(
													'showUsuario',
													{ 'id': usuario.id }
												)
												}}">
												{{ usuario.id }}</a></td>						
											<td>{{ usuario.name }}</td>
											<td>{{ usuario.surname }}</td>
											<td>{{ usuario.phone }}</td>
											<td>{{ usuario.email }}</td>							
											
											<td><a href="{{
												path(
													'editCliente',
													{ 'id': usuario.id }
												) 
												}}"><i class="fa fa-pencil-square-o"></i></a></td>
											<td><a href="{{
												path(
													'deleteCliente',
													{ 'id': usuario.id }
												) 
												}}"><i class="fa fa-trash fa-lg"></i></a></td>
											
										</tr>
									{% endfor %} 
							</tbody>
						</table>
        			</div>
        			<div id="sectionB" class="tab-pane fade">
        				<h2>Help Desk</h2>
        				<a href="{{ path('newCliente') }}"><button type="button" class="btn btn-default">Nuevo</button></a>	
						<hr>
        			</div>
        			<div id="sectionC" class="tab-pane fade">
        				<h2>Técnicos</h2>
        				<a href="{{ path('newCliente') }}"><button type="button" class="btn btn-default">Nuevo</button></a>	
						<hr>
        			</div>
        			<div id="sectionD" class="tab-pane fade">
						<h2>Administrador</h2>
        				<a href="{{ path('newAdministrador') }}"><button type="button" class="btn btn-default">Nuevo</button></a>	
						<hr>	
						<table class="table table-striped">
							<tbody>
								<thead>
									<tr>
										<td>Id</td>
										<td>Nombre</td>
										<td>Apellidos</td>
										<td>Teléfono</td>
										<td>Email</td>						
										<td>Editar</td>
										<td>Eliminar</td>
										
									</tr>
								</thead>
									{% for usuario in usuarios%}
										<tr>
											<td><a href="{{
												path(
													'showUsuario',
													{ 'id': usuario.id }
												)
												}}">
												{{ usuario.id }}</a></td>						
											<td>{{ usuario.name }}</td>
											<td>{{ usuario.surname }}</td>
											<td>{{ usuario.phone }}</td>
											<td>{{ usuario.email }}</td>							
											
											<td><a href="{{
												path(
													'editCliente',
													{ 'id': usuario.id }
												) 
												}}"><i class="fa fa-pencil-square-o"></i></a></td>
											<td><a href="{{
												path(
													'deleteCliente',
													{ 'id': usuario.id }
												) 
												}}"><i class="fa fa-trash fa-lg"></i></a></td>									
										</tr>
									{% endfor %} 
							</tbody>
						</table>
        			</div>
        		</div>
				<hr>			
			</div>
		</div>
	</div>
{% endblock %}
{# table table-striped //  table-bordered#}